html,body{height:100%;}
.carousel,.item,.active{height:80%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

.carousel-control {
  bottom: 146px;
}

.fill {
  padding-right: 0;
  padding-left: 0;
}
