



.page-wrap {
  width: 1000px;
  margin: 80px auto;
  padding: 50px;
  background: #F8B100;
}

.container .row {
  margin-bottom: 0;
  margin-top: 0;
}
.featurette-container {
  background: #fff;
  width: 1000px;
  margin: 80px auto;
  padding: 50px;
}

.row {
  margin-top: -75px;
  margin-bottom: -75px;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.col-md-7 {
  padding: 150px 0;
}


@media (max-width: 800px) {
.featurette-container {
    width: 540px;
    max-width: 100%;
 }

 .page-wrap {
  width: 540px;
  max-width: 100%;
 }
}
